.admin{
    position: absolute;
    margin-top: 200px;
    
}
table, th, td {
    border: 1px solid black;
    width: 80%;
    height: 150px;
    img{
        width: 150px;
        height: 150px;
    }
  }